body {
    text-align: center;
    background-color: dimgrey;
}
div {
    border : 1px solid rgb(231, 231, 231);
}

button{
    border-radius: 0px;
    border: none;
    background-color: rgb(100, 100, 100);
    color: white;
}
button:hover {
    background-color: rgba(90, 90, 90, 0.6);
    cursor: pointer;
}
button:focus {
    outline:0;
}

#calculator {
    width: 260px;
    text-align: center;
    margin: 10vh auto;
    box-shadow: 0 0.25em 3em 0 rgba(0,0,0,0.2);
}

.btn {
    flex-basis: 60px;
    height: 40px;
    box-sizing: border-box;
}

#btn-0 {
    flex-basis: 120px;
}

#buttons {
    margin: 10px auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.js-number, #btn-decimal {
    background-color: rgb(90, 90, 90);
}

#input {
    width: 80%;
    height: 50px;
    text-align: right;
    font-size: 2rem;
    color: rgb(68, 68, 68);
    border: 1px solid rgb(100, 100, 100);
    background-color: rgb(199, 199, 199);
}

#display {
    padding: 10px;

}

